<!DOCTYPE html>
{% load static analytical %}
<html lang="en" class="no-js">
<head>
  {% analyticl_head_top %}
  <meta charset="utf-8">
  <link rel="apple-touch-icon" href="{% static 'theme/img/apple-touch-icon.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'theme/img/apple-touch-icon-120x120-precomposed.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'theme/img/apple-touch-icon-152x152-precomposed.png' %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'theme/img/apple-touch-icon-167x167-precomposed.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'theme/img/apple-touch-icon-180x180-precomposed.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% spaceless %}
    {% comment %}
    The title is split into three blocks:
      title - The seo_title of the current page, or the regular title if there isn't an seo_tiutle.
              Generally, a page template will override just this block, in order to populate it.
      title_separator - A pipe symbol by default. Some pages may want to override this block to alter/remove it.
      title_suffix - The current Site's name by default. Some pages may want to override this block to alter/remove it.
    {% endcomment %}
    {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title | striptags }}{% endif %}{% endblock %}
    {% block title_separator %}{% if self.seo_title or self.title %} | {% endif %}{% endblock %}
    {% block title_suffix %}{{ request.site.site_name }}{% endblock %}
  {% endspaceless %}</title>
  {% block meta_description %}
    {# Search results will display this meta tag. But it should be specific to each page, so we don't set a default. #}
    <meta name="description" content="">
  {% endblock %}
  {# As of June 2018, this is the most up-to-date "responsive design" viewport tag. #}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="{% static 'theme/img/favicon.ico' %}" />

  {# Global stylesheets #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'wagtailfontawesome/css/wagtailfontawesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/css/theme.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets. #}
  {% endblock %}

  {# These are intentionally loaded synchronously since they are a prereq for other javascript. #}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  {# This is a custom build of Modernizr created specifically for the features that we actually use in Multitenant. #}
  <script src="{% static 'theme/js/modernizr-3.5.0-custom.js' %}"></script>

  {# Library Javascript #}
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {# Theme v7.0 Javascript #}
  <script defer src="{% static 'theme/js/theme.js' %}"></script>

  {% block extra_js %}
    {# Override this in subtemplates to add additional javascript to the page. Remember to use <script defer ...>. #}
  {% endblock %}

  {% block extra_head %}
    {# Override this in templates to add additional, arbitrary content to the end of the header. #}
  {% endblock %}
  {% analytical_head_bottom %}
</head>

<body class="{% block body_classes %}{% endblock %}">
  {% analytical_body_top %}
  {% block body_top %}
    {# Override this in templates to add additional content at the beginning of the <body>. #}
  {% endblock %}

  <a class="skip-link sr-only sr-only-focusable" href="#content">Skip to main content</a>

  {# Sites that need to display a different header can override theme-v7.0/header.tpl with their own version. #}
  <div class="width-1440-container">
    {% include 'theme/header.tpl' %}
  </div>

  {# There's an id on this content wrapper just for the skip-link above. All CSS should target .content. #}
  <section id="content" class="content {% block content_classes %}{# For page-specific modifiers. #}{% endblock %}">
    {% block messages %}
      {% include 'theme/messages.tpl' %}
    {% endblock %}
    {% block content %}
      {# This block is where templates place their primary page content. #}
    {% endblock %}
  </section>

  {# Sites that need to display a different footer can override theme-v7.0/footer.tpl with their own version. #}
  <div class="width-1440-container">
    {% include 'theme/footer.tpl' %}
  </div>

  {% block body_bottom %}
    {# Override this in templates to add additional content at the end of the <body>. #}
  {% endblock %}
  {% analytical_body_bottom %}
</body>
</html>
