-r requirements.txt

# Deployment
# ------------------------------------------------------------------------------
bumpversion==0.5.3                            # https://github.com/peritus/bumpversion
Sphinx==2.0.1                                 # https://github.com/sphinx-doc/sphinx

# Development
# ------------------------------------------------------------------------------
django-debug-toolbar>=2.2                     # https://github.com/jazzband/django-debug-toolbar
django-debug-toolbar-template-profiler>=2.0.1 # https://github.com/node13h/django-debug-toolbar-template-profiler
django-queryinspect==1.1.0                    # https://github.com/dobarkod/django-queryinspect
autopep8>=1.5.4                               # https://github.com/hhatto/autopep8
flake8>=3.8.4                                 # https://github.com/PyCQA/flake8


# Testing
# ------------------------------------------------------------------------------
unittest-xml-reporting==3.0.4                 # https://github.com/xmlrunner/unittest-xml-reporting
coverage==5.0.3                               # https://github.com/nedbat/coveragepy
django-coverage-plugin==1.8.0                 # https://github.com/nedbat/django_coverage_plugin
factory-boy==2.12.0                           # https://github.com/FactoryBoy/factory_boy
testfixtures==6.14.0                          # https://github.com/Simplistix/testfixtures
mypy                                          # https://github.com/python/mypy
