# Django and third-party apps
# ------------------------------------------------------------------------------
django==2.2.5                                 # https://www.djangoproject.com/
django-allauth==0.39.1                        # https://github.com/pennersr/django-allauth
django-analytical==2.5.0                      # https://github.com/jazzband/django-analytical
django-compressor==2.2                        # https://github.com/django-compressor/django-compressor
django-crequest==2018.5.11                    # https://github.com/Alir3z4/django-crequest
django-crispy-forms==1.7.2                    # https://github.com/django-crispy-forms/django-crispy-forms
django-environ==0.4.5                         # https://github.com/joke2k/django-environ
django-baton==1.5.2                           # https://github.com/otto-torino/django-baton
django-model-utils==3.1.2                     # https://github.com/jazzband/django-model-utils
django-redis==4.10.0                          # https://github.com/niwinz/django-redis
django-reversion==3.0.2                       # https://github.com/etianen/django-reversion
django-xff==1.3.0                             # https://github.com/ferrix/xff/

# Web server
# ------------------------------------------------------------------------------
gunicorn==19.9.0                              # https://github.com/benoitc/gunicorn

# Django REST Framework
# ------------------------------------------------------------------------------
djangorestframework==3.9.4                    # https://github.com/encode/django-rest-framework
coreapi==2.3.3                                # https://github.com/core-api/python-client

# Other utils
# ------------------------------------------------------------------------------
Pillow==6.0.0                                 # https://github.com/python-pillow/Pillow
argon2-cffi==19.1.0                           # https://github.com/hynek/argon2_cffi
colorama==0.3.7                               # https://github.com/tartley/colorama
ipython==7.1.0                                # https://github.com/ipython/ipython
mysqlclient==1.4.4                            # https://github.com/PyMySQL/mysqlclient-python
python-slugify==3.0.2                         # https://github.com/un33k/python-slugify
pytz==2019.1                                  # https://github.com/stub42/pytz
rcssmin==1.0.6                                # https://github.com/ndparker/rcssmin
redis==3.2.1                                  # https://github.com/antirez/redis
structlog==17.2.0                             # https://github.com/hynek/structlog
# ---- Purposely unpinned ----
sentry-sdk                                    # https://github.com/getsentry/sentry-python
# ---- from git ----
git+https://github.com/cmalek/django-site-multitenancy@master#egg=django-site-multitenancy

# Deployment
# ------------------------------------------------------------------------------
bumpversion==0.5.3                            # https://github.com/peritus/bumpversion
Sphinx==2.0.1                                 # https://github.com/sphinx-doc/sphinx

# Development
# ------------------------------------------------------------------------------
django-debug-toolbar==1.11                    # https://github.com/jazzband/django-debug-toolbar
django-debug-toolbar-template-profiler==1.0.2 # https://github.com/node13h/django-debug-toolbar-template-profiler
django-queryinspect==1.0.0                    # https://github.com/dobarkod/django-queryinspect
django-extensions==2.1.6                      # https://github.com/django-extensions/django-extensions
autopep8==0.8                                 # https://github.com/hhatto/autopep8
flake8==3.7.5                                 # https://github.com/PyCQA/flake8
pycodestyle==2.5.0                            # https://github.com/PyCQA/pycodestyle
# ---- Purposely unpinned ----
python-language-server                        # https://github.com/palantir/python-language-server 

# Testing
# ------------------------------------------------------------------------------
factory-boy==2.12.0                           # https://github.com/FactoryBoy/factory_boy
mypy==0.701                                   # https://github.com/python/mypy
pytest==4.5.0                                 # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.2                           # https://github.com/Frozenball/pytest-sugar
pytest-django==3.4.8                          # https://github.com/pytest-dev/pytest-django
django-coverage-plugin==1.6.0                 # https://github.com/nedbat/django_coverage_plugin
coverage==4.5.3                               # https://github.com/nedbat/coveragepy
