#####################################################################################
# Note that caltech_sites-based and www-based servers need to use different databases
#####################################################################################
DB_NAME=seedling
DB_HOST=mysql
DB_PORT=3306
DB_USER=seedling_u
DB_PASSWORD=seedling_pass

SECRET_KEY=__SECRET_KEY__
SENTRY_URL=__SENTRY_URL__

DJANGO_SETTINGS_MODULE=seedling.settings.settings

############################################################################
# DEV SETTINGS - Don't put anything below this line in your prod environment
############################################################################
# DEBUG is the django setting. DEVELOPMENT exists to let us specify "dev mode" even when DEBUG is False.
# This let you do "Developmenty" things, like disable emails, even while DEBUG needs to be False for testing stuff.
DEBUG=True
DEVELOPMENT=True
# You should set NO_TEMPLATE_CACHING to True in dev, but leave it undefined in prod. Set it to False in dev for
# those unusual times when you want to enable template caching, like when using StreamField-heavy editors a lot.
NO_TEMPLATE_CACHING=True
# DEV_APPS=
GUNICORN_RELOAD=True
# Set this to True to disable all caching.
DISABLE_CACHE=False
# Disable the creation of .pyc files.
PYTHONDONTWRITEBYTECODE=1
# Set either of these to True to enable django-queryinspect and/or django-debug-toolbar.
# Note that these two are forced to False unless DEVELOPMENT is True.
ENABLE_QUERYINSPECT=False
ENABLE_DEBUG_TOOLBAR=False
# Set this to True to make django print EVERY query it runs.
ENABLE_DB_SCREAMING=False

##################
# REMOTE DEBUGGING
##################
# To enable Python debugging, set this to True and configure the other two settings.
REMOTE_DEBUG_ENABLED=False
# Set this to your dev machine's public IP address (NOT your hostname, as that won't resolve properly for some reason).
REMOTE_DEBUG_HOST=__DEV_MACHINE_PUBLIC_IP__
# Set this to wahtever you set as the listening port on your remote debug server.
REMOTE_DEBUG_PORT=__REMOTE_DEBUG_SERVER_PORT__
