DATABASE_URL=mysql+mysqldb:/seedling_u:seedling_pass@seedling-mysql:3306/seedling
DJANGO_SETTINGS_MODULE=seedling.settings.local
COLORED_LOGGING=True
GUNICORN_RELOAD=True
PYTHONDONTWRITEBYTECODE=1
ENABLE_DB_SCREAMING=False
