.messages {
  list-style: none;
  font-size: 1.7em;
  line-height: 2em;
  padding: 0;
  @include width-1440-container;

  li {
    @include top-level-block-with-text;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 3px;
  }

  .error {
    background-color: $color-deep-orange;
    color: $color-white;
  }

  .warning {
    background-color: $color-yellow-grey;
    color: $color-black;
  }

  .success {
    background-color: $color-bright-aqua;
    color: $color-white;
  }

  .success .button:hover {
    background-color: $color-bright-aqua-accessible;
  }

  .button-secondary {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      border-color: transparent;
      color: $color-white;
    }
  }

  .errorlist {
    margin: 0.5em 0 0 1em;
  }
}
