$level-1-item-padding: 32px;

@mixin main-menu-dropdown {
  // Styles the dropdowns for the main menu. This is a mixin because the level-2 menus and the search form both need it.
  background-color: $color-grey-900;
  color: $color-white;
  border-radius: 0;
  border: 0;
  border-top: 4px solid $color-primary-accessible;
  position: absolute;
  z-index: 1000;
  // The level 1 menu items are 51px tall, so setting top: 47 lets the 4-px border-top of this dropdown stay within
  // the level-1 element.
  top: 47px;
  left: 0;
  .last-menu-item & {
    // Make the final dropdown menu, and the search form, right-aligned with the level-1 item, rather than left-aligned.
    left: auto;
    right: $level-1-item-padding;
  }
  display: none;
  &.show {
    display: block;
  }
}

.header {
  position: relative;
  height: 70px;
  @include top-level-block-with-text;

  @include portrait-tablet-up {
    height: 110px;
  }

  @include landscape-tablet-up {
    height: 120px;
  }

  &__utility-menu {
    margin-top: 24px;
    height: 16px;

    &__item {
      position: relative;
      padding-right: 24px;
      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      line-height: 1.0;
      font-size: 1.4rem;
      color: $color-grey-550;
      font-weight: bold;
      &:hover {
        color: $color-primary-accessible;
        text-decoration: none;
      }

      &--has-children {
        cursor: context-menu;
      }

      // The final item in the utility menu is the "GIVE  >" link, which needs to look different.
      &--give {
        text-transform: uppercase;
        color: $color-primary-accessible;
      }

      &__give-icon {
        width: 7px;
        margin-bottom: 3px;
        margin-left: 10px;
      }
    }
    // Bootstrap adds '.show' to an open dropdown's parent.
    &__item.show &__link {
      // Color the dropdown link orange as long as the submenu remains open.
      color: $color-primary-accessible;
    }

    &__opener {
      padding-left: 0;
      cursor: context-menu;

      &::after {
        display: none;
      }

      &__icon {
        height: 9px;
        margin-bottom: 5px;
        margin-left: 4px;
        transform: rotate(90deg);
      }
    }

    &__dropdown {
      font-size: 1.3rem;
    }
  }

  &__homepage-link {
    // I would like to position this so that the top-level-block-with-text mixin can control where it's left edge is,
    // but the content of the header just doesn't lend itself to that.
    height: 30px;
    margin-top: 20px;

    @include portrait-tablet-up {
      height: 34px;
      margin-top: 0;
    }

    @include desktop-up {
      margin-top: 10px;
      height: 39px;
    }
  }

  &__wordmark {
    height: 100%;
    width: auto;
  }

  $level-1-menu-item-height: 51px;
  &__main-menu {
    margin-top: 16px;
    @include portrait-tablet-up {
      margin-top: 24px;
    }
    @include desktop-up {
      margin-top: 29px;
    }
    body.caltech_sites & {
      // Specifically on caltech_sites, we need this element to be 100% width because otherwise the right-justify rule
      // won't function.
      width: 100%;
    }
    @media print {
      // Hide the entire menu when printing.
      display: none !important;
    }

    &__level-1 {
      &__item {
        padding-right: $level-1-item-padding;
        height: $level-1-menu-item-height;
        position: relative;
        &:last-child {
          padding-right: 0;
        }
      }

      &__link, &__menu-only {
        line-height: 1.0;
        font-size: 2.2rem;
        color: $color-grey-700;
        font-weight: bold;

        &:focus {
          box-shadow: none;
        }

        &::after {
          display: none;
        }
      }
      // Bootstrap adds '.show' to an open dropdown's parent.
      &__item.show &__link, &__item.show &__menu-only {
        // Color the dropdown link orange as long as the submenu remains open.
        color: $color-primary-accessible;
      }

      &__menu-only {
        cursor: context-menu;
      }

      // The opener exists only to be a target of "click" events from the javascript, so we hide its contents.
      // It sits on the bottom-left of the level-1__item, so that the menu need not be offset.
      &__opener {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0;

        // Hide the little arrow that Bootstrap adds to the ::after.
        &::after {
          display: none;
        }
      }
    }

    &__level-2 {
      @include main-menu-dropdown;
      @include landscape-phone-up {
        width: 315px;
        padding: 22px 26px;
      }

      &__item {
        padding-left: 0;
        white-space: normal;
        margin-bottom: 10px;

        &:hover {
          background-color: transparent;
        }
      }

      $opener-width: 22px;
      &__link, &__menu-only {
        @include link-always-color($color-white);
        line-height: 20px;
        font-size: 1.6rem;
        display: block;
        width: calc(100% - #{$opener-width});

        &:hover {
          text-decoration: none;
        }
      }

      &__menu-only {
        cursor: context-menu;
      }

      &__opener {
        position: absolute;
        right: 0;
        top: 0;
        cursor: context-menu;
        font-size: 1.2rem;
        padding: 0 5px;
        width: $opener-width;

        &::after {
          // Hide the little dropdown arrow that Bootstrap adds. We use our own icons for this.
          display: none;
        }
      }

      .dropdown-submenu {
        position: relative;
      }
    }

    &__level-3 {
      position: static;
      background-color: transparent;
      width: 100%;
      float: none;

      &__item {
        font-size: 1.4rem;
        line-height: 20px;
        margin-bottom: 10px;
        white-space: normal;
        @include link-always-color($color-warm-grey);

        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          color: $color-white;
          background-color: transparent;
        }
      }
    }
  }

  &__slide-menu-and-search {
    margin-top: 30px;
    position: relative;
    @include portrait-tablet-up {
      margin-top: 14px;
    }
    @include desktop-up {
      margin-top: 29px;
    }
    @media print {
      // Hide this entire thing when printing.
      display: none !important;
    }
  }

  &__search {
    position: relative;

    &__icon {
      cursor: pointer;
      height: 20px;
    }

    &__form {
      @include main-menu-dropdown;
      left: auto;
      right: 0;
      top: 36px;
      padding: 20px;
      width: 280px;
      @include landscape-phone-up {
        width: 315px;
        padding: 22px 26px;
      }
      @include landscape-tablet-up {
        top: 40px;
      }
      @include desktop-up {
        top: 47px;
      }
      &.show {
        // Set up the search__form as "display: flex", but only when it's shown.
        display: flex;
      }


      &__query {
        font-size: 1.5rem;
      }

      &__submit {
        // Can't just set font-size on search__form, because we need a specific override for Bootstrap's .btn class.
        font-size: 1.5rem;
      }
    }
  }
}

body.bare-page .header {
  display: none !important;
}

// The Slide Menu's CSS is complex enough that I decided to split it into its own file.
@import "_slide-menu.scss";
